<!-- <div class="row">
    <div class="col-12 text-center" id="header">
        <img id="burger-img" src="./assets/img/burger.png">

        <h2 id="head-h2">Eat Da burger!</h2>
    </div>
</div>
<div class="row">
    <div class="col-6" id="burgers-uneaten">

        {{#each burger}} {{#unless devoured}}
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="change-devoured card-body" data-id="{{this.id}}"> 

                    {{math @index "+" 1}}. {{burgers_name}} </div>

                </div>
            </div>

            <div class="col-4 center">
                <button type="button" class="btn btn-outline-dark change-devoured" data-id="{{this.id}}">
                    Devour it!
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        {{/unless}} {{/each}}
    </div>

    <div class="col-6" id="burgers-eaten">
        {{#each burger}} {{#if devoured}}
        <div class="card">
            <div class="card-body strikethrough" data-id="{{this.id}}">
                {{math @index "+" 1}}. {{burgers_name}}

            </div>
        </div>
        {{/if}} {{/each}}
    </div>
</div>
<div class="row burger-entry">
    <div class="col-4">
    </div>
    <div class="col-4 text-center">

        <form class="create-form" id="myForm">
            <div class="form-group">

                <textarea class="form-control" id="burger" name="burgers_name" rows="2" placeholder="Royale with Cheese" required="true" autofocus></textarea>
                <button class="btn btn-outline-dark" type="submit">Add Burger
                    <i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <p>Enter a Burger which you think is tasty</p>
        </form>
    </div>
    <div class="col-4">
    </div>

</div> -->

<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- show any messages that come back with authentication -->
        {{#each message }} 


        <div class="alert alert-danger">
            
                {{this}} 

          
        </div>
        {{else}}
    <!--  nothing -->

          {{/each}}

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
